* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none; }

html {
  scroll-behavior: smooth;
  overflow-x: hidden; }

.logo_a {
  color: white;
  border-radius: 30px;
  text-align: center;
  padding: 10px 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s; }
  .logo_a:hover {
    background-color: #ee5700;
    color: black; }

body {
  background-color: #09080f;
  color: white;
  font-family: "Montserrat";
  font-size: 20px; }

header {
  z-index: 50;
  position: fixed;
  width: 100%;
  height: 90px;
  padding: 24px 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.35); }
  header nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

main .main {
  background: url("../../images/bg/bg.png");
  padding: 300px 10vw 185px 10vw; }
  main .main_text h1 {
    font-size: 64px;
    text-transform: uppercase;
    margin-bottom: 40px; }
  main .main_text p {
    width: 655px;
    margin-bottom: 90px; }
  main .main_text a {
    height: 60px;
    padding: 20px 55px;
    background-color: #ed3f00; }
main .text {
  padding: 65px 10vw 97px 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  main .text_p {
    display: block;
    width: 670px;
    margin-top: 73px; }
    main .text_p p {
      margin-bottom: 30px; }
main .about {
  padding: 0 10vw; }
  main .about h2 {
    font-size: 40px;
    margin-bottom: 81px; }
  main .about ul {
    margin-bottom: 160px; }
    main .about ul li {
      margin-bottom: 30px; }
main .together {
  background: url("../../images/svg/about_us_together.svg");
  padding: 80px 10vw 100px 10vw;
  text-align: center;
  margin-bottom: 240px; }
  main .together p {
    display: block;
    margin: 0 auto;
    width: 800px;
    color: #ffc8b4;
    margin-bottom: 25px; }
  main .together h2 {
    display: block;
    margin: 0 auto;
    color: white;
    font-size: 64px;
    width: 1252px;
    margin-bottom: 86px; }
  main .together a {
    background-color: black;
    padding: 20px 55px; }
    main .together a:hover {
      background-color: white;
      color: black; }

footer {
  background: url("../../images/bg/footer.jpg");
  padding: 120px 10vw; }
  footer img {
    margin-bottom: 58px; }
  footer li {
    margin-bottom: 44px; }
    footer li::marker {
      content: ""; }
    footer li ul {
      margin-bottom: 30px; }