* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.logo_a {
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 10px 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.logo_a:hover {
    background-color: #ee5700;
    color: black;
}

body {
    background-color: #09080f;
    color: white;
    font-family: "Montserrat";
    font-size: 20px;
}

header {
    z-index: 50;
    position: fixed;
    width: 100%;
    height: 90px;
    padding: 24px 10vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.35);
}

header nav {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

main {
    position: relative;
}

main .main {
    position: relative;
    padding: 300px 10vw 217px 10vw;
}

main .main h1 {
    font-size: 64px;
    line-height: 65px;
    text-transform: uppercase;
    width: 840px;
    margin-bottom: 40px;
}

main .main p {
    margin-bottom: 50px;
    width: 654px;
}

main .main a {
    width: 250px;
    height: 60px;
    background-color: #ee5700;
    padding: 20px 54px;
}

main .main a:hover {
    background-color: #c04600;
}

main .rules {
    padding: 0 10vw;
}

main .rules h2 {
    margin-bottom: 105px;
}

main .rules ul {
    margin-bottom: 80px;
    width: 720px;
}

main .rules ul li {
    margin-bottom: 60px;
}

main .true_rules {
    padding: 250px 10vw;
}

main .true_rules h2 {
    margin-bottom: 87px;
}

main .true_rules ul {
    width: 840px;
    margin-bottom: 140px;
}

main .true_rules ul li {
    margin-bottom: 30px;
}

main .true_rules a {
    margin-left: 42%;
    width: 250px;
    height: 60px;
    background-color: #ee5700;
    padding: 20px 54px;
}

main .true_rules a:hover {
    background-color: #c04600;
}

main .main_bg {
    position: absolute;
    top: 175px;
    right: 86px;
}

footer {
    background: url("../../images/bg/footer.jpg");
    padding: 120px 10vw;
}

footer img {
    margin-bottom: 58px;
}

footer li {
    margin-bottom: 44px;
}

footer li::marker {
    content: "";
}

footer li ul {
    margin-bottom: 30px;
}